<!DOCTYPE html>
<html>

<head>
    <title>My News API</title>
    <link rel="stylesheet" href="/public/style.css">
</head>

<body>
    <header>
        <h1>My News API</h1>
    </header>
    <main>
        <h2>Welcome to my Russia Ukraine Conflict news API</h2>
        <p>Get the latest news articles from various news sources about the Russia Ukraine Conflict.</p>
        <button id="get-news">Get News Articles</button>
        <ul id="articles-list"></ul>
    </main>
    <footer>
        <p>&copy; 2023 My News API</p>
    </footer>
    <script src="/public/app.js"></script>
</body>

</html>